*~
dist-newstyle/
haddocks/
TAGS

.vscode/
!.vscode/cspell.json

cabal.project.local
hie.yaml

.stack-work/
.stack-work-test/
.stack-work-bench/
.hie/
stan.html

.swarm_history

*.sqlite
*.db
*.orig
*.aux
*.log
docs/ott/*.tex

.dir-locals.el

node_modules/
package-lock.json
package.json

*.hp
*.eventlog
*.eventlog.html
*.prof
