*~
dist-newstyle/
TAGS

.vscode/

cabal.project.local
hie.yaml

.stack-work/
.stack-work-test/
.stack-work-bench/
stack.yaml.lock
.hie/
stan.html

.swarm_history

*.db
*.orig
*.aux
*.log
docs/ott/*.tex

.dir-locals.el
